workflows/n8n/WF-04-mcp-refresh.json
{
  "name": "WF-04 MCP Refresh",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://mate-ingestion-platform:4006/api/v1/ingest/mcp/={{ $json.source_id }}",
        "method": "POST",
        "options": {}
      },
      "id": "trigger_ingest",
      "name": "Trigger MCP Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://mate-ingestion-platform:4006/api/v1/runs/={{ $json.run_id }}",
        "options": {}
      },
      "id": "poll_run",
      "name": "Poll Run Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Trigger": {"main": [[{"node": "Trigger MCP Ingest", "type": "main", "index": 0}]]},
    "Trigger MCP Ingest": {"main": [[{"node": "Poll Run Status", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "meta": {"instanceId": "integration-mate-poc"},
  "tags": [{"id": "wf04", "name": "mcp"}]
}
